*{
    overflow-x: hidden;
}
.nav-pills li:hover {
    background-color: blue;
    border-radius: 10px;
}

.app{
    background-color:  #d5dede;
}

.p-table{
    height: 550px;
}

.t-body{
    height: 550;
}

th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
  }

.delete:hover{
    cursor: pointer;
    transform: scale(1.5)
}